# Python
__pycache__/
*.pyc

# Virtual environment
venv/

# Whisper.cpp build + models
whisper.cpp
whisper.cpp/build/
whisper.cpp/models/
models/
*.bin

# macOS
.DS_Store

# Uploaded user files
upload/

# RAG vector store (you can keep if you want)
RAG/docs.json
RAG/vs/



